body {
    /* background-color: #f7f7f7; */
}

#unemployedSvg {
    background-color: #fff;
}

h1,
h2,
h6 {
    color: #6E6E6E;
    text-align: center;
}

h3 {
    text-align: left;
    color: #6E6E6E;
    /* border-left: 4px solid orange; */
}

p {
    color: #6E6E6E;
    font-size: 20px;
    font-family: 'Noto Sans TC';
}

.flexbox-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.flexbox-item {
    /* border: 2px solid black; */
    text-align: left;
    flex-basis: 49%;
    min-width: 300px;
}

.flexbox-item-row {
    flex-basis: 100%;
}

.pull-right{
    margin-left:10%;
}


input[type="checkbox"] {
    width: 20px;
    height: 20px;
    cursor: pointer;
    vertical-align: middle;
    /* -webkit-appearance: none;
    appearance: none; */
}

#reason-select {
    margin-left: 120px;
}

#salary-select {
    margin-left: 120px;
}

#yearGroup-select {
    margin-left: 120px;
}

#prejob-select {
    margin-left: 120px;
}